<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= content_tag(:style, nonce: content_security_policy_nonce) do %>
      body { visibility: hidden; }
    <% end %>
    <%= javascript_tag nonce: true do%>
      document.addEventListener('DOMContentLoaded', () => {
        document.forms[0].submit();
      })
    <% end %>
  </head>
  <body>
    <%= form_tag(saml_auth_path) do %>
      <%= hidden_field_tag("SAMLRequest", session[:SAMLRequest]) %>
      <%= hidden_field_tag("RelayState", session[:RelayState]) %>
      <%= hidden_field_tag("state", params[:state]) %>
      <%= hidden_field_tag("token", @token) %>
      <%= submit_tag "Submit" %>
    <% end %>
  </body>
</html>
